@font-face {
    font-family: "Fira Code Header";
    src: url('https://raw.githubusercontent.com/MinimumADHD/gitFontsArchive/main/Fira%20Code/woff/FiraCode-Bold.woff') format("woff");
}

@font-face {
    font-family: "Fira Code Paragraph";
    src: url('https://raw.githubusercontent.com/MinimumADHD/gitFontsArchive/main/Fira%20Code/woff/FiraCode-SemiBold.woff') format("woff");
}

body {
    background: #71685A;
    margin: 0;
    font-family: "Fira Code Paragraph", monospace, Inconsolata;
    color: #fff;
}

.container {
    background: #71685A;
    font-family: "Fira Code Header", monospace, Inconsolata;
    padding: 20px;
    text-align: center;
}

.div_links a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.div_links a:hover {
    color: #ffd700;
}

.div_links {
    background: #99835e;
    font-family: "Fira Code Paragraph", monospace, Inconsolata;
    font-size: 14px;
    padding: 10px;
    text-align: center;
}

.div_links p {
    margin: 10px 0;
}

h1, h2 {
    color: #ffd700;
}

p {
    line-height: 1.5;
}

a {
    color: #ffd700;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: #99835e;
}
