form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    margin-right: 10px;
}

input {
    width: 50%;
}