@font-face {
    font-family: "Fira Code";
    src: url('https://raw.githubusercontent.com/MinimumADHD/gitFontsArchive/main/Fira%20Code/woff/FiraCode-SemiBold.woff') format("woff");
}

body {
    background-color: #2e3440;
    color: #d8dee9;
    font-family: 'Fira Code', monospace;
    margin: 0;
    padding: 0;
}

.header {
    text-align: center;
    padding: 20px 0;
    background-color: #3b4252; /* Darker background color for header */
}

.header h1 {
    margin: 0;
    font-size: 2.5em;
}

.header h3 {
    margin: 10px 0 0;
    font-size: 1.2em;
}

.container {
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
}

.product-table {
    width: 100%;
    border-collapse: collapse;
}

.product-table th,
.product-table td {
    border: 1px solid #4c566a;
    padding: 10px;
    text-align: left;
}

.product-table th {
    background-color: #3b4252;
    color: #eceff4;
}

.product-table td {
    background-color: #2e3440;
}

.download-button {
    background-color: #5e81ac;
    color: #eceff4;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.download-button:hover {
    background-color: #81a1c1;
}

.header a {
    text-decoration: none;
    color: #d8dee9;
    transition: color 0.3s ease-in-out;
}

.header a:hover {
    color: #d8dee9;
}
