@font-face {
    font-family: "Fira Code Bold";
    src: url('https://raw.githubusercontent.com/MinimumADHD/gitFontsArchive/main/Fira%20Code/woff/FiraCode-SemiBold.woff') format("woff");
}
html, body, div, h1, p, a {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f4f4f4;
    font-family: "Fira Code Bold", Arial, sans-serif;
}

.pageHeader {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.pageHeader a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    margin-right: 20px;
}

.pageHeader a:hover {
    text-decoration: underline;
}

.pageHeader h1 {
    margin-top: 10px;
}

.dataOutput {
    margin: 20px;
}

.dataOutput p {
    font-size: 16px;
    margin-bottom: 10px;
}

#nameParagraph {
    color: #007bff;
}

#lastNameParagraph {
    color: #28a745;
}
