/* simone cappelluti */

@font-face {
    font-family: "Fira Code";
    src: url('https://raw.githubusercontent.com/MinimumADHD/gitFontsArchive/main/Fira%20Code/woff/FiraCode-SemiBold.woff') format("woff");
}

body {
    background-color: #f0f0f0;
    font-family: "Fira Code", monospace;
    margin: 0;
}

.pageHeader {
    background: linear-gradient(to right, #757575, #BF8B37);
    color: #fff;
    padding: 20px;
    text-align: center;
}

.pageHeader a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.pageHeader a:hover {
    text-decoration: underline;
}

.pageHeader h1 {
    margin: 10px 0;
}

.dataOutput {
    padding: 20px;
}

.dataOutput p {
    margin-bottom: 10px;
    font-size: 16px;
}

#nameParagraph,
#lastNameParagraph,
#ageParagraph,
#birthDay,
#genderParagraph,
#placeOfBirth {
    color: #333;
}

#nameParagraph::before {
    content: "Nome: ";
    font-weight: bold;
}

#lastNameParagraph::before {
    content: "Cognome: ";
    font-weight: bold;
}

#ageParagraph::before {
    content: "Età: ";
    font-weight: bold;
}

#birthDay::before {
    content: "Data di Nascita: ";
    font-weight: bold;
}

#genderParagraph::before {
    content: "Sesso: ";
    font-weight: bold;
}

#placeOfBirth::before {
    content: "Luogo di Nascita: ";
    font-weight: bold;
}
